_Documentation
_Documentation/intervalHelper.html
_Documentation/Notes_module-12.md
_Documentation/Screenshot_function_isColling.png
_Documentation/Screenshot_imageHelper_1.png
_Documentation/Screenshot_imageHelper_2.png
_Documentation/Screenshot_imageHelper_3.png
_Documentation/Screenshot_offset-0.png
_Documentation/Screenshot_offset-1.png
_Documentation/Screenshot_offset-2.png
_Documentation/Screenshot_offset.png