/* coustard-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Coustard";
    font-style: normal;
    font-weight: 400;
    src: url("./Assets/fonts/coustard-v19-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* coustard-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Coustard";
    font-style: normal;
    font-weight: 900;
    src: url("./Assets/fonts/coustard-v19-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Background image source: https://pixabay.com/illustrations/ai-generated-sunset-desert-nature-8286299/ */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: black;
    font-family: "Coustard";
    background-position: center;
    background-image: url("./Assets/img/background/thrashero-ai-generated-8286299.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        color: white;
        font-size: 64px;
        text-shadow: 50px;
    }

    button:hover {
        cursor: pointer;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        min-height: 70dvh;
        height: fit-content;
        width: 100%;
        gap: 16px;
        max-width: 1440px;

        .change-orientation {
            display: none;
            height: 100dvh;
            width: 100dvw;

            p {
                position: absolute;
                top: 30%;
                width: 100%;
                text-align: center;
                justify-content: center;
                font-size: 64px;
                color: black;
            }
        }

        section {
            width: 720px;
            height: 480px;

            button {
                height: fit-content;
                width: fit-content;
                padding: 4px 8px;
                font-size: 16px;
                border: 1px solid black;
                border-radius: 8px;
                background: orange;
            }

            button:hover {
                cursor: pointer;
                border: 2px solid black;
            }

            .change-orientation {
                height: 100%;
                width: 100%;
                color: white;
                font-size: 64px;
                background-color: black;
            }

            #start-screen {
                height: 100%;
                width: 100%;
                background: url(./Assets/img/9_intro_outro_screens/start/startscreen_1.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;

                #start-button {
                    position: absolute;
                    right: 16px;
                    bottom: 16px;
                }

                #impressum-open-reponsive {
                    position: absolute;
                    left: 16px;
                    bottom: 16px;
                }

                button:hover {
                    cursor: pointer;
                    border: 2px solid black;
                }
            }

            #you-lost {
                height: 100%;
                width: 100%;
                background: url("./Assets/img/9_intro_outro_screens/game_over/you lost.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                button {
                    position: absolute;
                    right: 16px;
                    bottom: 16px;
                }
                button:hover {
                    cursor: pointer;
                    border: 2px solid black;
                }
            }

            #you-won {
                height: 100%;
                width: 100%;
                background: url("./Assets/img/You won, you lost/You Won B.png");
                background-color: rgb(0, 0, 0, 0.5);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;

                button {
                    position: absolute;
                    right: 16px;
                    bottom: 16px;
                }
            }

            #canvas-container {
                position: relative;
                height: 100%;
                width: 100%;

                #mobile-impressum {
                    width: 100%;
                    position: absolute;
                    top: 50;
                    left: 0;
                    justify-self: center;
                    z-index: 1;
                    background: none;

                    p {
                        font-weight: bolder;
                    }
                }

                canvas {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: black;
                }

                #navigation-buttons {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: none;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 4px;

                    button {
                        height: 40px;
                        width: 40px;
                        background-color: rgb(0, 0, 0, 0.2);
                        border-radius: 50%;
                        padding: 4px;
                        border: none;
                    }

                    #mute-unmute {
                        background: none;
                        text-align: center;
                        z-index: 1;
                        border-radius: 4px;
                        background: none;
                        border: none;
                        padding: 0px;
                    }

                    #right-navigation {
                        background: none;
                        text-align: center;
                        z-index: 1;
                    }

                    #left-navigation {
                        background: none;
                        text-align: center;
                        z-index: 1;
                    }
                }
            }

            div {
                background: rgb(255, 255, 255, 0.5);
                border-radius: 8px;
                padding: 8px 16px;
                text-align: center;
            }
        }
    }

    header,
    footer {
        color: white;
        height: 15dvh;
        width: 100%;
        padding: 16px;
        max-width: 1440px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #impressum {
        background-color: rgb(0, 0, 0, 0.8);
        border: 1px solid black;
        border-radius: 8px;
        width: fit-content;
        height: fit-content;
        padding: 8px;
        z-index: 2;
        position: absolute;
        bottom: 100px;

        button {
            justify-self: right;
        }

        #impressum-text {
            text-align: center;
            justify-content: center;
            justify-self: center;
            padding: 0px 24px 24px 24px;
            color: white;
            border: none;
            background: none;
        }
    }
}

.display-none {
    display: none;
}

@media (pointer: coarse) and (orientation: portrait) {
    #change-orientation {
        display: block;
    }

    .desktop {
        display: none;
    }

    .responsive {
        display: none;
    }

    #container {
        display: none;
    }
}

@media (hover: none) and (orientation: landscape) {
    change-orientation {
        display: none;
    }

    .desktop {
        display: none;
    }

    main {
        height: 100dvh;
        width: 100%;
    }

    #container {
        height: 100dvh;
        width: 100%;
    }

    #canvas {
        height: 100dvh;
        width: 100%;
    }

    .responsive {
        display: block;
    }
}
